body{
    background-color: black;
}

.title{
    color:  #dd8a3d;
}

h3{
    color: #dd8a3d;
    margin-bottom: 0;
    margin-top: 30px;
   
}
p{
    color: #8d8d8d;
    margin-bottom: 0;
}

.cost{
    background-color: #dd8a3d;
    padding-top: 30px;

}

