*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4{
    background-color: black;
    color: white;
    padding: 15px 10px;
}

p{
    padding: 7px;
}

button{
    padding: 4px 10px;
    color: white;
    background-color: green;
    border-style: none;
}

.cost{
    font-size:x-large ;
    font-weight: 600;
    padding-bottom: 0;
}
.container{
    
    display: flex;
    margin-inline: auto;
    width: 70%;
    background-color: aliceblue;
    flex-direction: column;
    gap :20px;
    margin-top: 10px;

}

.box-pricing{
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #abcccf;
    
    
}

.sign-up{
    background-color: rgba(228, 223, 216, 0.844);
    padding: 10px;
}

.card{
    box-shadow: 2px 2px 4px rgb(5, 5, 5);
}

@media screen and (min-width: 641px) {
    .container{
        flex-direction: row;
        width: 50%;
        padding: 20px 40px;
        
    }
    .box-pricing{
        width: 40%;
    }
}